{{ form_start(form) }}
<div class="mb-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.price) }}
    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.stock) }}
    {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.imageFilename) }}
    {{ form_widget(form.imageFilename, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.category) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-select'}}) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
