{{ form_start(form) }}
<div class="form-group mb-3">
    {{ form_label(form.customerName) }}
    {{ form_widget(form.customerName, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group mb-3">
    {{ form_label(form.status) }}
    {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
</div>

<div class="form-group mb-3">
    {{ form_label(form.createdAt) }}
    {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group mb-3">
    {{ form_label(form.products) }}
    {{ form_widget(form.products, {'attr': {'class': 'form-select'}}) }}
</div>

<button class="btn-modern btn-primary mt-3">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
